.jumbotron {
    text-align: center;
    border-radius: 0;
    border: solid black 10px;
    padding: 5%;
  }

  #fiveDayFullPanelcomplete{
      
      float: right;
  }





  footer{
    text-align: center;
    color: whitesmoke;
}
 footer p {
     background-color: rgb(78, 76, 76);
     padding: 2%;
    
     margin-top: 25%;
     border-top: solid teal 1rem;
}