

.jumbotron {
    text-align: center;
    border-radius: 0;
    border: solid black 10px;
    padding: 5%;
  }

  .display {
      
  }

  #WeatherDisplay{
     margin-top: -30%;
     background-color: black;
     color: whitesmoke;  

  }

  #diplayRow{
      margin-left: 5%;
    
  }
  .card{
      padding-top: 30%;
      
  }


  footer{
    text-align: center;
    color: whitesmoke;
}
 footer p {
     background-color: rgb(78, 76, 76);
     padding: 2%;
    
     margin-top: 15%;
     border-top: solid teal 1rem;
}