.jumbotron {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border-radius: 0;
    border-bottom: 10px solid whitesmoke;
  }

  .card{
      margin-right: 2%;
      margin-top: -5%;
      padding-right: 38%;
      display: flex;
      float: Right;

      
      border: solid black 5px;
  }

  .button{
      margin-top: 7%;
      margin-left: 1%;
  }